@import '../../styles';

.hero-banner-contact {
  @extend %hero-image;
  background-image: url('../../images/table.jpg');
}

.title {
  @extend %title-text;
}

.sub-title {
  @extend %subtitle-text;
}

.contact-content {
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
}
