<!-- hero banner -->
<div class="hero-banner-menu">
  <div class="title">
    <h1>{{ title }}</h1>
  </div>
  <div class="sub-title">
    <h3>{{ subTitle }}</h3>
  </div>
</div>

<!-- menu content goes here-->
<div class="menu-display">

<!-- first row of items-->
  <div class="row">
    <div class="col-sm-4">
      <h2>Raw Bar</h2>
      <ng-container *ngFor="let item of rawBar">
        <span>
          <strong>{{item.name}}</strong>
        </span>
        <span style="float:right">${{item.price}}</span>
        <br/>
      </ng-container>
    </div>

    <div class="col-sm-4">
      <h2>Soups</h2>
      <ng-container *ngFor="let item of soups">
        <span>
          <strong>{{item.name}}</strong>
        </span>
        <span style="float:right">${{item.price}}</span>
        <br/>
        <span>{{item.description}}</span>
        <br/>
      </ng-container>
    </div>

    <div class="col-sm-4">
      <h2>Salads</h2>
      <ng-container *ngFor="let item of salads">
        <span>
          <strong>{{item.name}}</strong>
        </span>
        <span style="float:right">${{item.price}}</span>
        <br/>
        <span>{{item.description | lowercase }}</span>
        <br/>
      </ng-container>
    </div>
  </div>

  <!-- second row of items-->
  <div class="row">
    <div class="col-sm-4">
      <h2>Starters</h2>
      <ng-container *ngFor="let item of starters">
        <span>
          <strong>{{item.name}}</strong>
        </span>
        <span style="float:right">${{item.price}}</span>
        <br/>
        <span>{{item.description | lowercase}}</span>
        <br/>
      </ng-container>
    </div>

    <div class="col-sm-4">
      <h2>Fries on the side</h2>
      <ng-container *ngFor="let item of sandies">
        <span>
          <strong>{{item.name}}</strong>
        </span>
        <span style="float:right">${{item.price}}</span>
        <br/>
        <span>{{item.description | lowercase}}</span>
        <br/>
      </ng-container>
    </div>

    <div class="col-sm-4">
      <h2>The Works</h2>
      <ng-container *ngFor="let item of works">
        <span>
          <strong>{{item.name}}</strong>
        </span>
        <span style="float:right">${{item.price}}</span>
        <br/>
        <span>{{item.description | lowercase}}</span>
        <br/>
      </ng-container>
    </div>
  </div>

  <!-- third row of items-->
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h2>Sides</h2>
      <ng-container *ngFor="let item of sides">
        <span>
          <strong>{{item.name}}</strong>
        </span>
        <span style="float:right">${{item.price}}</span>
        <br/>
      </ng-container>
    </div>
  </div>
</div>
