@import '../../styles';

.hero-banner-menu {
    background-image: url('../../images/fish.jpg');
   @extend .hero-image
}

.title {
    @extend .title-text
}

.sub-title {
    @extend .subtitle-text
}

h2 {
    text-align: center;
}

.menu-display {
    padding: 20;
    margin: 50;
}

.menu-left {
    display: inline-block;
    text-align: center;
}

.menu-right {
    @extend .menu-left;
    float: right;
}