@import '../styles';

.site-header {
  background-color: $color-black;

  a {
    color: $color-grey;

    &:hover {
      color: $color-white;
      text-decoration: none;
    }

    &.active {
      color: $color-white;
    }
  }
}


