@import '~bootstrap/scss/bootstrap';

$color-black: #000;
$color-grey: #999;
$color-white: #fff;

%title-font {
  font-family: 'sans-serif', 'Helvetica', Open Sans;
  font-size: 32px;
}

%sub-title-font {
  @extend %title-font;
  font-size: 18px;
}

html,
body {
  height: 100%;
  margin: 0;
}

%hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  height: 400px;
}

%title-text {
  @extend %title-font;
  color: $color-black;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 30%;
  transform: translate(-50%, -50%);
}

%subtitle-text {
  @extend %title-text;
  top: 50%;
}
