<!-- hero banner -->
<div class="hero-banner-home">
  <div class="title">
      <h1>Welcome To Frankie's Fish Cafe</h1>
  </div>
  <div class="sub-title">
    <h3>Classy seaside fish cafe</h3>
  </div>
</div>

<!-- page content, address and hours -->
<div class="home-content row">
  <div class="col-sm-8">
    <h1>{{ name }}</h1>
    <h1>{{ address }}</h1>
    <h1 style='color:red'> {{ message }} </h1>
  </div>
  <!-- cafe hours -->
  <div class="col-sm-4">
    <h4>Hours</h4>
    <span>Monday: {{ hours.m }}</span><br/>
    <span>Tuesday: {{ hours.t }}</span><br/>
    <span>Wednesday: {{ hours.w }}</span><br/>
    <span>Thursday: {{ hours.th }}</span><br/>
    <span>Friday: {{ hours.f }}</span><br/>
    <span>Saturday: {{ hours.s }}</span><br/>
    <span>Sunday: {{ hours.su }}</span>
  </div>
</div>
