<!-- hero banner -->
<div class="hero-banner-home">
  <div class="title">
      <h1>Welcome To Frankie's Fish Cafe</h1>
  </div>
  <div class="sub-title">
    <h3>Serving fine sea to table in this area for years</h3>
  </div>
</div>

<!-- page content, address and hours -->
<div class="home-content">
  <h3>{{ name }}</h3>
  <h3>{{ address }}</h3>
  <!-- need to shift this right -->
  <h4>Hours</h4>
  <p>Monday: {{hours.m}}</p>
  <p>Tuesday: {{hours.t}}</p>
  <p>Wednesday: {{hours.w}}</p>
  <p>Thursday: {{hours.th}}</p>
  <p>Friday: {{hours.f}}</p>
  <p>Saturday: {{hours.s}}</p>
  <p>Sunday: {{hours.su}}</p>
</div>
