<!-- hero banner -->
<div class="hero-banner-home">
  <div class="title">
      <h1>Welcome To Frankie's Fish Cafe</h1>
  </div>
  <div class="sub-title">
    <h3>Serving fine sea to table in this area for years</h3>
  </div>
</div>

<!-- page content, address and hours -->
<div class="home-content row">
  <div class="col-sm-8">
    <h3>{{ name }}</h3>
    <h3>{{ address }}</h3>
    <h3 style='color:red'> {{ message }} </h3>
  </div>
  <!-- need to shift this right -->
  <div class="col-sm-4">
    <h4>Hours</h4>
    <span>Monday: {{hours.m}}</span><br/>
    <span>Tuesday: {{hours.t}}</span><br/>
    <span>Wednesday: {{hours.w}}</span><br/>
    <span>Thursday: {{hours.th}}</span><br/>
    <span>Friday: {{hours.f}}</span><br/>
    <span>Saturday: {{hours.s}}</span><br/>
    <span>Sunday: {{hours.su}}</span>
</div>
</div>
